html{
  background-color: #ffffff;
  color: #0d0a1f;
  font-family: 'Roboto', sans-serif;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
.wrapper {
  max-width: 1000px;
  margin: 0 25%;
}

h1 {
  color: #7e61ff;
}

#logo {
  color: #4e26ff;
  text-decoration: none;
  float: left;
  padding: 14px 0; 
  margin: 0;
  font-weight: 600;
}
.nav-menu {
  font-size: 18px;

}
.nav-menu ul {
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-menu ul li {
  float: right;
}

.nav-menu li a {
  text-decoration: none;
  display: block;
  color: #7e61ff;
  text-align: center;
  padding: 14px 16px;
}

.nav-menu li:hover {
  background-color: #f8f7fa;
}

img{
  width: 100%;
  height: 50%;
  margin: 0;
  padding: 0;
}

.card {
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 250px;
  height: 450px;
  float: left;
  margin: 25px;
  
}
.card:hover {
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

.container {
  padding: 2px 16px;
}

.main-pic {
  height: 450px;
  width: 500px;;
}

.skill img{
  float: left;
  margin: 5px;
  padding: 0;
  width: 18%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.skill img:hover {
  box-shadow: 0 20px 20px 0 rgba(0,0,0,0.2);
  cursor: pointer;
}

#skill-container {
  margin-bottom: 400px;
}

#contact-container {
  text-align: center;
}
#contact a{
  
  text-decoration: none;
}
#contact img {
  
  width: 50px;
  margin-left: 25px;
  border-radius: 10px;
}