$bg-color: #ffffff;
$font-color: #0d0a1f;
$default-font-fam: "Roboto", sans-serif;
$nav-bar-color: #f2f5f7;
$nav-links-color: #a6a9ad;
$hire-me-btn: #0d948b;
$top-div-lg-text-color: #373a57;
$top-div-sm-text-color: #646f7d;
$social-media-text-color: #acabb0;
$selected-menu-color: #e85454;
